<div id="<%= dom_id stock %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory item:</strong>
    <%= stock.inventory_item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inventory warehouse:</strong>
    <%= stock.inventory_warehouse_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= stock.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Minimum:</strong>
    <%= stock.minimum %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maximum:</strong>
    <%= stock.maximum %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reorder quantity:</strong>
    <%= stock.reorder_quantity %>
  </p>

</div>
