<div id="<%= dom_id technician %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= technician.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Specialty:</strong>
    <%= technician.specialty %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Certificacion level:</strong>
    <%= technician.certificacion_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= technician.active %>
  </p>

</div>
