<div id="<%= dom_id area %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= area.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= area.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= area.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Configuration plant:</strong>
    <%= area.configuration_plant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= area.active %>
  </p>

</div>
