<div id="<%= dom_id techinican %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= techinican.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Specialty:</strong>
    <%= techinican.specialty %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Certificacion level:</strong>
    <%= techinican.certificacion_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= techinican.active %>
  </p>

</div>
