<div id="<%= dom_id equipment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= equipment.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= equipment.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= link_to equipment.image.filename, equipment.image if equipment.image.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= equipment.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= equipment.status %>
  </p>

</div>
