<div id="<%= dom_id equipment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= equipment.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Asset type:</strong>
    <%= equipment.asset_type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= equipment.serial_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= equipment.purchase_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Warranty expiry:</strong>
    <%= equipment.warranty_expiry %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= equipment.location_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= equipment.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Manufacturer:</strong>
    <%= equipment.manufacturer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= equipment.model %>
  </p>

</div>
