<div id="<%= dom_id asset %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= asset.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= asset.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance asset type:</strong>
    <%= asset.maintenance_asset_type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Configuration area:</strong>
    <%= asset.configuration_area_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance manufacturer:</strong>
    <%= asset.maintenance_manufacturer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= asset.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= asset.serial_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Manufacturing date:</strong>
    <%= asset.manufacturing_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= asset.purchase_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Warranty expiration:</strong>
    <%= asset.warranty_expiration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= asset.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Criticality level:</strong>
    <%= asset.criticality_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Technical specs:</strong>
    <%= asset.technical_specs %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Operation conditions:</strong>
    <%= asset.operation_conditions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Physical location:</strong>
    <%= asset.physical_location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= asset.notes %>
  </p>

</div>
