<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
  <div class="mb-4 col-span-full xl:mb-2">
    <%= render 'shared/breadcrumb', current_page: 'Activos' %>
    <div class="flex items-center space-x-2">
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
        <%= "#{@maintenance_asset.full_code}:  #{@maintenance_asset.name}" %>
      </h1>
      <% color = @maintenance_asset.status_color %>
      <span class="bg-<%= color %>-100 text-<%= color %>-800 text-sm font-medium me-2 px-3 py-1 rounded-full
                   dark:bg-<%= color %>-900 dark:text-<%= color %>-300">
        <%= @maintenance_asset.translate_enum(:status) %>
      </span>
    </div>
  </div>
  <div class="col-span-3">
    <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg
                 bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
          id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
        <li class="me-2">
          <button id="general-tab"
                  data-tabs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true"
                  class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800
                         dark:hover:bg-gray-700 dark:text-blue-500">
            General
          </button>
        </li>
        <li class="me-2">
          <button id="technical-tab"
                  data-tabs-target="#technical" type="button" role="tab" aria-controls="technical" aria-selected="false"
                  class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700
                         dark:hover:text-gray-300">
            Técnico
          </button>
        </li>
        <li class="me-2">
          <button id="documents-tab"
                  data-tabs-target="#documents" type="button" role="tab" aria-controls="documents" aria-selected="false"
                  class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700
                          dark:hover:text-gray-300">
            Documentos
          </button>
        </li>
        <li class="me-2">
          <button id="assignees-tab"
                  data-tabs-target="#assignees" type="button" role="tab" aria-controls="assignees" aria-selected="false"
                  class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700
                          dark:hover:text-gray-300">
            Responsables
          </button>
        </li>
        <li class="me-2">
          <button id="history-tab"
                  data-tabs-target="#history" type="button" role="tab" aria-controls="history" aria-selected="false"
                  class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700
                          dark:hover:text-gray-300">
            Historial
          </button>
        </li>
      </ul>
      <div id="defaultTabContent">
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800"
             id="general" role="tabpanel" aria-labelledby="general-tab">
          <div class="grid grid-cols-2 gap-4">
            <!-- Información General -->
            <h2 class="text-lg font-semibold text-gray-800 mb-4">
              Información General
            </h2>
            <div class="items-center 2xl:space-x-4 2xl:flex">
              <!-- Item -->
              <div class="flex items-center p-3 mb-3.5 border border-gray-200 dark:border-gray-700 rounded-lg">
                <div class="flex items-center justify-center w-10 h-10 mr-3 rounded-lg bg-primary-100 dark:bg-primary-900">
                  <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z"></path>
                    <path d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z"></path>
                  </svg>
                </div>
                <div class="mr-4">
                  <p class="text-sm font-semibold text-gray-900 dark:text-white">flowbite_offer_345"</p>
                  <p class="text-sm text-gray-500 dark:text-gray-400">PDF, 2.3 MB</p>
                </div>
                <div class="flex items-center ml-auto">
                  <button type="button" class="p-2 rounded hover:bg-gray-100">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v11.69l3.22-3.22a.75.75 0 111.06 1.06l-4.5 4.5a.75.75 0 01-1.06 0l-4.5-4.5a.75.75 0 111.06-1.06l3.22 3.22V3a.75.75 0 01.75-.75zm-9 13.5a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z"></path>
                    </svg>
                    <span class="sr-only">Download</span>
                  </button>
                  <button type="button" class="p-2 rounded hover:bg-gray-100">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
                    </svg>
                    <span class="sr-only">Actions</span>
                  </button>
                </div>
              </div>
              <!-- Item -->
              <div class="flex items-center p-3 mb-3.5 border border-gray-200 dark:border-gray-700 rounded-lg">
                <div class="flex items-center justify-center w-10 h-10 mr-3 bg-teal-100 rounded-lg dark:bg-teal-900">
                  <svg class="w-5 h-5 text-teal-600 lg:w-6 lg:h-6 dark:text-teal-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path>
                  </svg>
                </div>
                <div class="mr-4">
                  <p class="text-sm font-semibold text-gray-900 dark:text-white">bergside_pitch"</p>
                  <p class="text-sm text-gray-500 dark:text-gray-400">PPTX, 10.1 MB</p>
                </div>
                <div class="flex items-center ml-auto">
                  <button type="button" class="p-2 rounded hover:bg-gray-100">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path clip-rule="evenodd" fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v11.69l3.22-3.22a.75.75 0 111.06 1.06l-4.5 4.5a.75.75 0 01-1.06 0l-4.5-4.5a.75.75 0 111.06-1.06l3.22 3.22V3a.75.75 0 01.75-.75zm-9 13.5a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z"></path>
                    </svg>
                    <span class="sr-only">Download</span>
                  </button>
                  <button type="button" class="p-2 rounded hover:bg-gray-100">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
                    </svg>
                    <span class="sr-only">Actions</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="w-1/2">
              
              <div class="space-y-2">
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium dark:text-gray-400">Código:</span>
                  <span class="text-gray-800 dark:text-gray-300"><%= @maintenance_asset.full_code %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium dark:text-gray-400">Nombre:</span>
                  <span class="text-gray-800 dark:text-gray-300"><%= @maintenance_asset.name %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium dark:text-gray-400">Tipo:</span>
                  <span class="text-gray-800 dark:text-gray-300"><%= @maintenance_asset.type.name %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium dark:text-gray-400">Fabricante:</span>
                  <span class="text-gray-800 dark:text-gray-300"><%= @maintenance_asset.manufacturer.name %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium dark:text-gray-400">Modelo:</span>
                  <span class="text-gray-800 dark:text-gray-300"><%= @maintenance_asset.model %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium dark:text-gray-400">Serie:</span>
                  <span class="text-gray-800 dark:text-gray-300"><%= @maintenance_asset.serial_number %></span>
                </div>
              </div>
            </div>

            <!-- Mantenimiento -->
            <div class="w-1/2"> 
              <h2 class="text-lg font-semibold text-gray-800 mb-4">Ubicación</h2>
              <div class="space-y-2">
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium">Planta:</span>
                  <span class="text-gray-800"><%= @maintenance_asset.production_line.area.plant.name %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium">Área:</span>
                  <span class="text-gray-800"><%= @maintenance_asset.production_line.area.name %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium">Línea:</span>
                  <span class="text-gray-800"><%= @maintenance_asset.production_line.name %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium">Ubicación:</span>
                  <span class="text-gray-800"><%= @maintenance_asset.physical_location %></span>
                </div>
                <div class="flex justify-between">
                  <span class="text-gray-600 font-medium">Garantía</span>
                  <span class="text-gray-800">Activa hasta 15 Ene 2025</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="technical" role="tabpanel"
             aria-labelledby="technical-tab">
          <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">We
            invest in the world’s potential</h2>
          <!-- List -->
          <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
              <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="leading-tight">Dynamic reports and dashboards</span>
            </li>
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
              <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="leading-tight">Templates for everyone</span>
            </li>
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
              <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="leading-tight">Development workflow</span>
            </li>
            <li class="flex space-x-2 rtl:space-x-reverse items-center">
              <svg class="flex-shrink-0 w-3.5 h-3.5 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              <span class="leading-tight">Limitless business automation</span>
            </li>
          </ul>
        </div>
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="documents" role="tabpanel"
             aria-labelledby="documents-tab">
          <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 xl:grid-cols-6 dark:text-white sm:p-8">
            <div class="flex flex-col">
              <dt class="mb-2 text-3xl font-extrabold">73M+</dt>
              <dd class="text-gray-500 dark:text-gray-400">Developers</dd>
            </div>
            <div class="flex flex-col">
              <dt class="mb-2 text-3xl font-extrabold">100M+</dt>
              <dd class="text-gray-500 dark:text-gray-400">Public repositories
              </dd>
            </div>
            <div class="flex flex-col">
              <dt class="mb-2 text-3xl font-extrabold">1000s</dt>
              <dd class="text-gray-500 dark:text-gray-400">Open source
                projects
              </dd>
            </div>
          </dl>
        </div>
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="assignees" role="tabpanel"
             aria-labelledby="assignees-tab">
          <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Powering
            innovation & trust at 200,000+ companies worldwide</h2>
          <p class="mb-3 text-gray-500 dark:text-gray-400">Empower Developers,
            IT Ops, and business teams to collaborate at high velocity. Respond
            to changes and deliver great customer and employee service
            experiences fast.</p>
          <a href="#" class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
            Learn more
            <svg class=" w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </a>
        </div>
        <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="history" role="tabpanel"
             aria-labelledby="history-tab">
          <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white">Powering
            innovation & trust at 200,000+ companies worldwide</h2>
          <p class="mb-3 text-gray-500 dark:text-gray-400">Empower Developers,
            IT Ops, and business teams to collaborate at high velocity. Respond
            to changes and deliver great customer and employee service
            experiences fast.</p>
          <a href="#" class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
            Learn more
            <svg class=" w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= link_to "Edit this asset", edit_maintenance_asset_path(@maintenance_asset), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to assets", maintenance_assets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this asset", @maintenance_asset, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
