<div id="<%= dom_id service %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.name') %>:
    </strong>
    <%= service.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.description') %>:
    </strong>
    <%= service.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.scheduled_date') %>:
    </strong>
    <%= service.scheduled_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.maintenance_frequency_id') %>:
    </strong>
    <%= service.frequency.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.maintenance_responsible_id') %>:
    </strong>
    <%= service.responsible.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.status') %>:
    </strong>
    <%= service.t_enum(:status) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">
      <%= t('activerecord.attributes.maintenance/service.resources') %>:
    </strong>
    <%= service.resources %>
  </p>

</div>
