<div id="<%= dom_id service %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= service.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= service.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Scheduled date:</strong>
    <%= service.scheduled_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance frequency:</strong>
    <%= service.maintenance_frequency_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance responsible:</strong>
    <%= service.maintenance_responsible_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= service.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resources:</strong>
    <%= service.resources %>
  </p>

</div>
