<nav class="fixed z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <%= render 'shared/navbar/sidebar_toggle' %>
        <%= render 'shared/navbar/logo' %>
        <%= render 'shared/navbar/search' if user_signed_in? %>
      </div>

      <div class="flex items-center">
        <%= render 'shared/navbar/search_toggle' %>
        <%= render 'shared/navbar/notifications' %>
        <%= render 'shared/navbar/apps' %>
        <%= render 'shared/navbar/theme_toggle' %>

        <% if user_signed_in? %>
          <%= render 'shared/navbar/user_menu' %>
        <% else %>
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row 
                   md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-800
                   dark:border-gray-700">
            <li>
              <%= link_to t('shared.navbar.links.login'), new_user_session_path,
                          class: 'block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 
                                dark:text-white md:dark:text-blue-500' %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
