<div id="<%= dom_id manufacturer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= manufacturer.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= manufacturer.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= manufacturer.website %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact info:</strong>
    <%= manufacturer.contact_info %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Support phone:</strong>
    <%= manufacturer.support_phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Suport email:</strong>
    <%= manufacturer.suport_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= manufacturer.notes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= manufacturer.active %>
  </p>

</div>
