<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sku:</strong>
    <%= item.sku %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= item.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Measure unit:</strong>
    <%= item.measure_unit_id %>
  </p>

</div>
