<div id="<%= dom_id asset_document %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance asset:</strong>
    <%= asset_document.maintenance_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Document type:</strong>
    <%= asset_document.document_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= asset_document.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= asset_document.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Version:</strong>
    <%= asset_document.version %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expiration date:</strong>
    <%= asset_document.expiration_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= asset_document.active %>
  </p>

</div>
