<div id="<%= dom_id production_line %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= production_line.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= production_line.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= production_line.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Configuration area:</strong>
    <%= production_line.configuration_area_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= production_line.active %>
  </p>

</div>
