<div id="<%= dom_id plant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= plant.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= plant.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= plant.active %>
  </p>

</div>
