<div id="<%= dom_id country %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Common name:</strong>
    <%= country.common_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Official name:</strong>
    <%= country.official_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iso code2:</strong>
    <%= country.iso_code2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Iso code3:</strong>
    <%= country.iso_code3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone code:</strong>
    <%= country.phone_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tld:</strong>
    <%= country.tld %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Flag:</strong>
    <%= country.flag %>
  </p>

</div>
