<%= form_with(model: country, class: "contents mt-8 space-y-6") do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
        <% country.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :common_name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :common_name, 
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :official_name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :official_name,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :iso_code2, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :iso_code2,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :iso_code3, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :iso_code3,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :phone_code, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :phone_code,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :tld, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :tld,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :flag_svg, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :flag_svg,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="my-5">
    <%= form.label :flag_png, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= form.text_field :flag_png,
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                                dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
  </div>

  <div class="actions">
    <%= form.submit class: "w-full px-5 py-3 text-base font-medium text-center text-white bg-blue-700
                            rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 sm:w-auto
                            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
