<div id="<%= dom_id asset_component %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance asset:</strong>
    <%= asset_component.maintenance_asset_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= asset_component.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= asset_component.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= asset_component.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Specifications:</strong>
    <%= asset_component.specifications %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Replacement period:</strong>
    <%= asset_component.replacement_period %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= asset_component.active %>
  </p>

</div>
