<div id="<%= dom_id asset_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= asset_type.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= asset_type.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= asset_type.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Requires calibration:</strong>
    <%= asset_type.requires_calibration %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maintenance frequency:</strong>
    <%= asset_type.maintenance_frequency %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= asset_type.active %>
  </p>

</div>
