<%= form_with(model: maintenance_asset_assignee, class: "contents") do |form| %>
  <% if maintenance_asset_assignee.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(maintenance_asset_assignee.errors.count, "error") %> prohibited this maintenance_asset_assignee from being saved:</h2>

      <ul>
        <% maintenance_asset_assignee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :maintenance_asset_id %>
    <%= form.text_field :maintenance_asset_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :maintenance_technician_id %>
    <%= form.text_field :maintenance_technician_id, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
