<!DOCTYPE html>
<html>
<head>
  <title>Kognado</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<header class="container mx-auto mt-5 px-5 flex">
  <%= link_to "Kognado", root_path, class: "text-2xl font-bold" %>
  <% if user_signed_in? %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "ml-auto" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "ml-5" %>
    <%= link_to "Sign up", new_user_registration_path, class: "ml-auto" %>
  <% end %>
</header>
<main class="container mx-auto mt-28 px-5 flex">
  <%= render "shared/flash" %>
  <%= yield %>
  <p>Layout de aplicacion</p>
</main>
</body>
</html>
