<!DOCTYPE html>
<html>
<head>
  <title>Kognado</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
  <%= javascript_importmap_tags %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
</head>

<body class="antialiased bg-gray-50 dark:bg-gray-900">
<%= render 'shared/navbar' %>
<main class="p-4 h-auto pt-20">
  <%= render "shared/flash" %>
  <%= yield %>
</main>
</body>
</html>
